include README.md
include LICENSE
include requirements.txt
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-exclude .git *
exclude .gitignore
exclude test_*.py